* {
    box-sizing: border-box;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    margin: 0;
}

/* Custom bootstrap */
.btn-default {
    color: #333;
    background-color: #fff;
    border: $border;
}

.btn {
    font: $serif;
    text-transform: uppercase;
    border: 0;
    outline: none!important;
  
    &.btn-primary {
      background-color: $primary;
      &[disabled] {
        background-color: $primary!important;
      }
      &:active:focus {
        background-color: $primary-dark;
      }
    }
  
    &.btn-default {
      background-color: $secondary;
      color: #FFFFFF;
      &[disabled] {
        background-color: $secondary!important;
        color: #FFFFFF!important;
      }
      &:active:focus {
        color: #FFFFFF;
        background-color: $secondary-dark;
      }
    }
  }