$sp-xlg:     80px;
$sp-lg:      40px;
$sp:         20px;
$sp-sm:      15px;
$sp-xs:      10px;
$sp-min:     5px;

$border: solid 1px #eee;

$serif: 31px/1.1 'Crimson Text', serif;

$primary: #A5D389;
$primary-dark: #7FA16A;
$secondary: #1FB8B4;
$secondary-dark: #168683;
$red: #FF4444;
$gray: #6D6C6C;
$blue: #2775B8;