<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roche</title>

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400i,700i" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="bundle.js?nocache=<%- Date.now() %>"></script>

    <script>
      if(window.postMessage) {
        var root = document.getElementById('root');
        var last = 0;
        function callParent() {
          var h = root.scrollHeight;
          if (h !== last) {
            last = h;
            window.parent.postMessage(h, '*');
          }
        }
        callParent();

        window.setInterval(function(){
          callParent();
        }, 200); 
      }
    </script>

  </body>
</html>