@media screen and (max-width: 768px) {
  .container {
    .header {
      height: 80px;
  
      .logo {
        top: 10px;
        left: 5px;
        width: 70px;
        height: 80px;
      }
      .roche {
        top: 25px;
        right: 5px;
        width: 60px;
        height: 32px;
      }
  
      .menu {
        position: static;
        text-align: center;
  
        .menu-btn {
          font-size: 12px;
          padding: 3px 10px;
        }

        .menu-user {
          display: block;
          padding: 10px 0 0 0;
          text-align: center;

          .menu-email {
            font-size: 14px;
          }
        }
      }
    }
  }

  .question {
    .question-header {

      .question-img {
        height: 180px;
      }

      .question-text {
        display: block;
        position: static;
        color: $gray;
        width: 100%;

        .ques {
          display: block;
          position: static;
          font-size: 21px;
          margin: 10px 0;
          padding: 0 20px;
        }
      }

      .bars {
        position: static;
        width: 100%;
        margin-top: 10px;

        .bar {
          display: block;
          position: static;
          height: 16px;
          margin: 0;
          border-radius: 0;
          width: 100%!important;
        }
      }
    }

    .question-body {
      padding: 20px;

      .answer-action {
        height: auto;
        text-align: center;
        padding: 0;
        margin: 0;

        .btn {
          font-size: 21px;
          float: none!important;
          display: block;
          margin: 0 auto 10px;
        }
      }

      .answer-text {
        padding-top: 10px;
        font-size: 16px;
      }
    }
  }

  .footer {
    padding: 30px 0 10px 0;

    .call {
      font-size: 26px;
      padding: 0 10px;
    }
  }

  .ranking {
    padding: 5px 0;
  
    .ranking-logo {
      display: inline-block;
      width: 150px;
      height: 130px;
    }

    h1 {
      margin-bottom: 0;
    }

    .table {
      font-size: 14px;

      tr {
        th:last-child, td:last-child {
          display: none;
        }
      }
    }
  }

  .green-bar {
    height: 30px;
  }
}
